{% extends 'base.html'%}

{% block body %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
  
  
  
        <div class="p-4 lg:w-1/2">
          <div class="h-full bg-gray-300 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
            <h1 class="title-font sm:text-3xl font-extrabold text-3xl font-medium text-gray-900 mb-5">Update Data</h1>
            <p class="leading-relaxed mb-20 sm:text-2xl text-2xl font-bold">Update patient data in Covid Patient Information System</p>
           </div>
           </div>
        <div class="p-4 lg:w-1/2">
          <div class="h-full bg-gray-300 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
            <h1 class="title-font sm:text-3xl text-3xl font-extrabold text-gray-900 mb-5">View Data</h1>
            <p class="leading-relaxed mb-20 sm:text-2xl text-2xl font-bold">View patient data in Covid Patient Information System.</p>
           </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock body %}