{% extends 'base.html'%}

{% block body %}



	<div class="container min-h-screen">
		<table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
			<thead class="text-black">
				<tr class="bg-blue-300 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
					<th class="p-3 text-left">Patient ID</th>
					<th class="p-3 text-left">Gender</th>
                    <th class="p-3 text-left">Age</th>
					<th class="p-3 text-left">Date of Admission</th>
                    <th class="p-3 text-left">Diagnosis</th>
					<th class="p-3 text-left">Prescription</th>
                    <th class="p-3 text-left">NOK Address</th>
					<th class="p-3 text-left">Hospital</th>
                    <th class="p-3 text-left">Branch</th>
					<th class="p-3 text-left" width="110px">Actions</th>
				</tr>
				<tr class="bg-blue-300 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                    <th class="p-3 text-left">Patient ID</th>
					<th class="p-3 text-left">Gender</th>
                    <th class="p-3 text-left">Age</th>
					<th class="p-3 text-left">Date of Admission</th>
                    <th class="p-3 text-left">Diagnosis</th>
					<th class="p-3 text-left">Prescription</th>
                    <th class="p-3 text-left">NOK Address</th>
					<th class="p-3 text-left">Hospital</th>
                    <th class="p-3 text-left">Branch</th>
					<th class="p-3 text-left" width="110px">Actions</th>
				</tr>
                <tr class="bg-blue-300 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                    <th class="p-3 text-left">Patient ID</th>
					<th class="p-3 text-left">Gender</th>
                    <th class="p-3 text-left">Age</th>
					<th class="p-3 text-left">Date of Admission</th>
                    <th class="p-3 text-left">Diagnosis</th>
					<th class="p-3 text-left">Prescription</th>
                    <th class="p-3 text-left">NOK Address</th>
					<th class="p-3 text-left">Hospital</th>
                    <th class="p-3 text-left">Branch</th>
					<th class="p-3 text-left" width="110px">Actions</th>
              </tr>
                <tr class="bg-blue-300 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                    <th class="p-3 text-left">Patient ID</th>
					<th class="p-3 text-left">Gender</th>
                    <th class="p-3 text-left">Age</th>
					<th class="p-3 text-left">Date of Admission</th>
                    <th class="p-3 text-left">Diagnosis</th>
					<th class="p-3 text-left">Prescription</th>
                    <th class="p-3 text-left">NOK Address</th>
					<th class="p-3 text-left">Hospital</th>
                    <th class="p-3 text-left">Branch</th>
					<th class="p-3 text-left" width="110px">Actions</th>
              </tr>
			</thead>
			<tbody class="flex-1 sm:flex-none">
				<tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
					<td class="border-grey-light border hover:bg-gray-100 p-3">711MAY21KIR</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">MALE</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">24</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">22 MAY 2021</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">COVID</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">PCM</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3 truncate ">GHORPADI LINES </td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">CH PUNE</td>
					<td class="border-grey-light border hover:bg-gray-100 p-3 ">MEDICAL</td>
					<td class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer">Delete</td>
				</tr>
				<tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
					<td class="border-grey-light border hover:bg-gray-100 p-3">811MAY21CH</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">FEMALE</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">32</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">21 MAY 2021</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">FEVER</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">PCM</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3 truncate ">KOHIMA LINES </td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">MH KIRKEE</td>
					<td class="border-grey-light border hover:bg-gray-100 p-3 ">GENERAL</td>
					<td class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer">Delete</td>
				</tr>
                <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
                    <td class="border-grey-light border hover:bg-gray-100 p-3">811MAY22KIR</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">MALE</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">28</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">22 MAY 2021</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">FRACTURE</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">DElhi</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3 truncate ">VICORIA ROAD</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">CH PUNE</td>
					<td class="border-grey-light border hover:bg-gray-100 p-3 ">MEDICAL</td>
					<td class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer">Delete</td>
                </tr>
                <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
                    <td class="border-grey-light border hover:bg-gray-100 p-3">711MAY21KIR</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">MALE</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">24</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">22 MAY 2021</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">COVID</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">PCM</td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3 truncate ">GHORPADI LINES </td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3">CH PUNE</td>
					<td class="border-grey-light border hover:bg-gray-100 p-3 ">MEDICAL</td>
					<td class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer">Delete</td>
                </tr>
			</tbody>
		</table>
	</div>






  
{% endblock body %}